<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClinicManagement</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <style>
        body {
            margin: 0;
            overflow-x: hidden;
        }

        .content {
            margin-left: 0 !important;
        }

        .sidebar {
            display: none !important;
        }
    </style>
</head>

<body style="background: linear-gradient(135deg,#e3f2fd,#f5f7fa);">

    <div class="d-flex justify-content-center align-items-center vh-100">

        @* <div class="card shadow p-4 mx-auto" style="width: 400px; max-width: 90%;"> *@

            @RenderBody()

        @* </div> *@

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <partial name="_Toast" />

    @RenderSection("Scripts", required: false)

</body>
</html>